My First Trainig

In [1]:
a=[1,2,3]
a

[1, 2, 3]

In [2]:
(2*8)^(3) -1585

-1598

In [8]:
x=2
y=4
print(" x + y is", x + y , 'x - y is',x - y, 'x * y is', x * y, 'x / y is', x / y, 'x // y is', x // y, 'x ** y is', x ** y)

 x + y is 6 x - y is -2 x * y is 8 x / y is 0.5 x // y is 0 x ** y is 16

In [9]:
2^3

1

In [17]:
list1=['Name','Phone','Uni','Job','Loc','Major','Gender','Type']
list2='John','123456','UCL','Engineer'
print(type(list1) , type(list2))

<class 'list'> <class 'tuple'>

In [28]:
list1[0][:2]

'Na'

In [33]:
#list1.insert(3,'Age')
list1.remove('Age')
list1

['Name', 'Phone', 'Uni', 'Age', 'Job', 'Loc', 'Major', 'Gender', 'Type']