
___
# Monogram3-week3-notebook1


### List vs Set

In [ ]:
my_list = [1,2,3]

In [ ]:
my_list.append(4)

In [ ]:
my_list

In [ ]:
my_list.append(4)
my_list

In [ ]:
my_set ={1,2,3}

In [ ]:
my_set.add(4)

In [ ]:
my_set

In [ ]:
my_set.add(4)
my_set

In [ ]:
new_list=[2,2,4,5,3,3,3]

In [ ]:
new_set=set(new_list)
new_set

In [ ]:
new_list[2]

In [ ]:
new_set[2]

### List vs Tuple

In [ ]:
my_list = [1,2,3]

In [ ]:
my_list.append('4')
my_list

In [ ]:
my_tuple = (1,2,3)

In [ ]:
my_tuple.append('4')

In [ ]:
my_tuple.count?

In [ ]:
help(my_tuple.count)

In [ ]:
my_list.insert()

In [ ]:
my_tuple = (1,2,3,2,3,1,1,1)

In [ ]:
my_tuple.count(1)

In [ ]:
my_list1 = [1,2,3,2,3,1,1,1]

In [ ]:
my_list1.count(1)

In [ ]:
my_tuple[2]

### Dictionaries

In [ ]:
d = {'key1':'item1','key2':'item2'}

In [ ]:
d

In [ ]:
d['key1']

### Boolean

In [ ]:
# Value true

True

<p>Notice that the value <code>True</code> has an uppercase "T". The same is true for <code>False</code> (i.e. you must use the uppercase "F").</p>

In [ ]:
# Value false

False

<p>When you ask Python to display the type of a boolean object it will show <code>bool</code> which stands for <i>boolean</i>:</p>

In [ ]:
# Type of True

type(True)

In [ ]:
# Type of False
type(False)

<p>We can cast boolean objects to other data types. If we cast a boolean with a value of <code>True</code> to an integer or float we will get a one. If we cast a boolean with a value of <code>False</code> to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a <code>True</code>. And if we cast a 0 to a Boolean we will get a <code>False</code>. Let's give it a try:</p>

In [ ]:
# Convert True to int

int(True)

In [ ]:
# Convert 1 to boolean

bool(1)

In [ ]:
# Convert 0 to boolean

bool(0)

In [ ]:
# Convert True to float

float(True)

## Exploratory Data Analysis

In [1]:
import os
os.getcwd()

'C:\\Users\\H_jam\\AppData\\Local\\Programs\\Microsoft VS Code'

In [2]:
# Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd

In [4]:
df=pd.read_csv('dataset_falcon9.csv')

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.head(2)

In [ ]:
df.tail(2)

In [ ]:
df[5:8]

In [ ]:
df[87:89]

In [7]:
df['FlightNumber']

0      1
1      2
2      3
3      4
4      5
      ..
85    86
86    87
87    88
88    89
89    90
Name: FlightNumber, Length: 90, dtype: int64

In [ ]:
df['FlightNumber'].head()

In [ ]:
df[['FlightNumber','LaunchSite']].head(10)

In [8]:
df.drop(2,axis=0)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857,0
5,6,2014-01-06,Falcon 9,3325.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1005,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,2020-09-03,Falcon 9,15400.000000,VLEO,KSC LC 39A,True ASDS,2,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,2,B1060,-80.603956,28.608058,1
86,87,2020-10-06,Falcon 9,15400.000000,VLEO,KSC LC 39A,True ASDS,3,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,2,B1058,-80.603956,28.608058,1
87,88,2020-10-18,Falcon 9,15400.000000,VLEO,KSC LC 39A,True ASDS,6,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,5,B1051,-80.603956,28.608058,1
88,89,2020-10-24,Falcon 9,15400.000000,VLEO,CCAFS SLC 40,True ASDS,3,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,2,B1060,-80.577366,28.561857,1
89,90,2020-11-05,Falcon 9,3681.000000,MEO,CCAFS SLC 40,True ASDS,1,True,False,True,5e9e3032383ecb6bb234e7ca,5.0,0,B1062,-80.577366,28.561857,1

In [9]:
df.drop('Outcome', axis=1)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,2020-09-03,Falcon 9,15400.000000,VLEO,KSC LC 39A,2,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,2,B1060,-80.603956,28.608058,1
86,87,2020-10-06,Falcon 9,15400.000000,VLEO,KSC LC 39A,3,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,2,B1058,-80.603956,28.608058,1
87,88,2020-10-18,Falcon 9,15400.000000,VLEO,KSC LC 39A,6,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,5,B1051,-80.603956,28.608058,1
88,89,2020-10-24,Falcon 9,15400.000000,VLEO,CCAFS SLC 40,3,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,2,B1060,-80.577366,28.561857,1
89,90,2020-11-05,Falcon 9,3681.000000,MEO,CCAFS SLC 40,1,True,False,True,5e9e3032383ecb6bb234e7ca,5.0,0,B1062,-80.577366,28.561857,1

In [10]:
df['new']=df['FlightNumber']

In [ ]:
df.columns

In [ ]:
df.shape

In [11]:
df.drop('new', axis=1,inplace=True)

In [ ]:
df.columns

In [ ]:
df.shape

In [12]:
new_row = {'FlightNumber':1, 'Date':2, 'BoosterVersion':3, 'PayloadMass':4, 'Orbit':5,
       'LaunchSite':6, 'Outcome':7, 'Flights':8, 'GridFins':9, 'Reused':10, 'Legs':11,
       'LandingPad':12, 'Block':13, 'ReusedCount':14, 'Serial':15, 'Longitude':16, 'Latitude':17,
       'Class':18, 'new':19}
#append row to the dataframe
df_marks = df.append(new_row, ignore_index=True)

C:\Users\H_jam\AppData\Local\Temp\ipykernel_8540\3816736395.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_marks = df.append(new_row, ignore_index=True)

In [ ]:
df_marks.tail(1)

In [ ]:
df_marks_1=df_marks.style.hide_index()

In [ ]:
type(df_marks_1)

In [ ]:
df_marks.head(3)

In [6]:
new_row1 = {'FlightNumber':1, 'Date':2, 'BoosterVersion':3, 'PayloadMass':4, 'Orbit':5,
       'LaunchSite':6, 'Outcome':7, 'Flights':8, 'GridFins':9, 'Reused':10, 'Legs':11,
       'LandingPad':12, 'Block':13, 'ReusedCount':14, 'Serial':15, 'Longitude':16, 'Latitude':17,
       'Class':18, 'new':19}
#append row to the dataframe
df_marks = df.append(new_row1)

C:\Users\H_jam\AppData\Local\Temp\ipykernel_8540\643943799.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_marks = df.append(new_row1)

TypeError: Can only append a dict if ignore_index=True

In [ ]:
# Creating the first Dataframe using dictionary
df1 = df = pd.DataFrame({"a":[1, 2, 3, 4],
                         "b":[5, 6, 7, 8]})

In [ ]:
# Creating the Second Dataframe using dictionary
df2 = pd.DataFrame({"a":[1, 2, 3],
                    "b":[5, 6, 7]})

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1.append(df2)

In [ ]:
df1.append(df2, ignore_index=True)

In [ ]:
df_marks.info()

In [ ]:
df_marks[['PayloadMass', 'Date', 'BoosterVersion', 'FlightNumber']]

In [ ]:
df_marks.columns

In [ ]:
df_marks.columns[[2,6,0]]

In [ ]:
df_marks[df_marks.columns[[2,6,0]]]

In [ ]:
df_marks.iloc[:, 1:3]

In [ ]:
df_marks.iloc[0:3, 1:5]

In [ ]:
df_marks.loc[:, 'Outcome':'Legs']

In [ ]:
# Drop Multiple Columns by labels.
df1 = df_marks.drop(['Longitude', 'BoosterVersion','Block'],axis = 1)
df1.info()

In [ ]:
# Drop columns based on column index.
df2 = df_marks.drop(df.columns[[3, 1, 2, 0]],axis = 1)
df2.info()

In [ ]:
# Drop column by index using DataFrame.iloc[] and drop() methods.
df3 = df_marks.drop(df_marks.iloc[:, 1:3],axis = 1)
df3.info()

In [ ]:
# Drop columns by labels using DataFrame.loc[] and drop() methods.
df4 = df_marks.drop(df_marks.loc[:, 'Outcome':'Latitude'].columns,axis = 1)
df4.info()

# Great Job!